################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Negation-normal-form.sln
/Negation-normal-form.vcxproj
/Negation-normal-form.vcxproj.filters
/Negation-normal-form.vcxproj.user
