################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Negation-normal-form.sln
/Negation-normal-form.vcxproj
/Negation-normal-form.vcxproj.filters
/Negation-normal-form.vcxproj.user
/Release/Negation.4228F453.tlog
*.obj
/Release/Negation-normal-form.log
/Release/Negation-normal-form.pdb
/Release/vc142.pdb
